@using BookingSystem.Dto;
@model LoginDto;
@{
    ViewData["Title"] = "Login";
}


<head>
    

</head>
<body>
   
    <div class="background"></div>
    <div class="login-container">

        <form class="register-form" method="POST">         
            <div asp-validation-summary="ModelOnly"></div>
            <div class="field">
                <label>Username</label>
                <span>
                    <input asp-for="UserName" type="text" placeholder="Ex.jusbas0713" />
                </span>
                <span asp-validation-for="UserName" class="error"></span>
            </div>
       
            <div class="field">
                <label>Password</label>
                <span>
                    <input asp-for="Password" type="password" placeholder="Minimum 8 Characters" />
                </span>
               <span asp-validation-for="Password" class="error"></span>
            </div>
            <div class="button-groups">
                <button type="submit" class="reg-btn">Login</button>
            </div>
            <div class="sign-up-div">
                <span>Don't have an account?</span><a href="/Register" >Signup now</a>
            </div>
        </form>
    </div>

</body>
