

@{
    ViewData["Title"] = "Dashboard";
}


<head>


</head>
<body>

   <p>Admin Dashboard</p>
    <a asp-controller ="System" asp-action="Users">View Users</a>
   
   <a class="logout-btn" asp-controller="Logout" asp-action="Logout">Logout</a>

</body>
